@import "/styles/partials/colour-variables";

.fieldset {
    background-color: $colour-secondary-background;
    padding: 1.25rem 2rem;
    transition: 0.3s ease-in-out;

    @media (max-width: 465px) {
        padding: 1.25rem 0.5rem;
    }
}

.fieldset:hover {
    box-shadow: 0 0 10px 2px #00000020;
}

.fieldset:disabled {
    opacity: 0.5;
}

.controlGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;



    @media(max-width: 868px) {
        min-width: 100%;
    }

    label {
        font-weight: 500;
        color: #393939;
    }

    input {
        width: 100%;
        padding: 8px 4px;
        border-radius: 4px;
        border: 1px solid #ddd;
        outline: none;
        transition: all 0.3s ease-in-out, height 0s;
        background: #f5f5fc;

        &:focus {
            border: 1px solid #000;
            box-shadow: 0 0 10px 2px #00000020;
        }
    }

    input[type="checkbox"] {

        width: fit-content;


    }

    textarea {
        width: 100%;
        padding: 8px 4px;
        border-radius: 4px;
        border: 1px solid #ddd;
        outline: none;
        transition: all 0.3s ease-in-out;
        background: #f5f5fc;
        min-height: 10rem;

        &:focus {
            border: 1px solid #000;
            box-shadow: 0 0 10px 2px #00000020;
        }
    }
}


.collapsible {
    transition: transform 0.3s ease-in-out, opacity 0s, position 0s;

    transform: scaleY(1);
    transform-origin: top;
    position: relative;
    opacity: 1;
}

.collapsible.hidden {
    transition: transform 0.3s ease-in-out, opacity 0s, position 0s;

    transform: scaleY(0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.FieldsetHeaderTitle {


    @media(max-width: 450px) {}
}