@import "/styles/partials/colour-variables";

.resumeMenu {

  background-color: #fefeff;
  padding: 1rem 2rem;

  @media (max-width: 465px) {
    padding: 1.5rem 0.5rem;
  }
}

.languageSelector {

  background-color: $colour-dark-grey;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: $colour-white;

  option {}
}