.menuButtonSmall {
  font-weight: 500;
  border-bottom: 1px solid none;
  padding: 0.25rem;
  transition: 0.3s all ease-in-out;
}

.menuButtonSmall:hover {
  border-bottom: 1px solid #225522;
}

.warning {
  color: red;
}