$colour-abyss-blue: #19191f;
$colour-space-purple: #060611;
$colour-seafoam: #1E7369;
$colour-dark-grey: #333333;


$colour-window-background: $colour-dark-grey;
$colour-primary: $colour-seafoam;
$colour-light: #fffffe;

$colour-primary-gradient: linear-gradient(0deg, rgba($colour-primary, 0.55) 10%, rgba($colour-primary, 1) 90%);