$colour-ghost-white: #f5f5fc;
$colour-persian-green: #549f93;
$color-midnight-green: #0e3b42;

$colour-white: #fefeff;
$colour-dark-grey: #555;

$colour-primary: $colour-persian-green;

$colour-window-background: $colour-ghost-white;
$colour-secondary-background: $colour-white;