@import "/styles/partials/colour-variables";

.resumeCollection {
    background: $colour-white;
    padding: 1rem;
}

.resumeListItem {
    padding: 1rem;
    background: $colour-window-background;
    border-radius: 0.25rem;


}