@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./partials/colour-variables";
@import "./partials/typography";
@import "./partials/utility";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}